n8n-workflows/2 Pic Generator for mcp.json
{
  "name": "2 Pic Generator for mcp",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n\"query\": \n\"a cute dog\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "c723a9d1-c6e0-487b-b154-5619ee4a1af7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json[\"query\"] }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "4f6a6c78-564f-4157-b947-06e616bb32a2",
      "name": "HTTP Request",
      "credentials": {
        "openAiApi": {
          "id": "9EoXBynWrBvJWNJx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "0099d452-b958-4d73-bef9-79e43b581bd3",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "pic",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1_5Ovj6qLxsnca6SdYd_uKuebNNKQv1GC",
          "mode": "list",
          "cachedResultName": "MCP Generate Pics",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_5Ovj6qLxsnca6SdYd_uKuebNNKQv1GC"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        0
      ],
      "id": "3a5b76b7-a4af-4ef1-8c58-c1681a36146a",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EltEmNxMhJBYtYel",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c73817b-3e1c-41eb-813e-0364c4a4bf71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f68acdd5e00c8e0eaa03372dc243705f91ee6ee3b01899cca8263774eb69944a"
  },
  "id": "2KIJIFemMZmmlCVy",
  "tags": []
}