n8n-workflows/n8n to work with Flowise.json
{
  "name": "n8n to work with Flowise",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e4cdcf5d-0d62-4bbf-811f-3c9d0cd73498",
      "name": "When chat message received",
      "webhookId": "03f7d9fc-007c-4944-97b0-aadd78e264d9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "e74a7eec-f2fb-4b18-87d5-ecbf8e57fea9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        208
      ],
      "id": "5a3e0855-2db8-45d8-9ec9-59e030b7522a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9EoXBynWrBvJWNJx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3100/api/v1/prediction/5629dd4d-84f9-47af-8258-88a2374e61de",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        368,
        208
      ],
      "id": "9fcb806f-d629-4834-8972-b680e79bed93",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a46c5698-d64c-4deb-ba3f-b5b08586a9d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f68acdd5e00c8e0eaa03372dc243705f91ee6ee3b01899cca8263774eb69944a"
  },
  "id": "PFAkMQ8gG4PHFUOX",
  "tags": []
}