n8n-workflows/PineCore TLSA Workflow v1 - pdf.json
{
  "name": "PineCore TLSA Workflow v1 - pdf",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1muK5oJPuF_VWQ8npJl9lMwNMxrWPom6F",
          "mode": "list",
          "cachedResultName": "TelsaFinancialReports",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1muK5oJPuF_VWQ8npJl9lMwNMxrWPom6F"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "910831fa-65f9-4cc9-a6f9-d761581661bb",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EltEmNxMhJBYtYel",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "71e8a273-d1e4-4c68-a60b-e7597c72f700",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EltEmNxMhJBYtYel",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-course-tsla",
          "mode": "list",
          "cachedResultName": "n8n-course-tsla"
        },
        "options": {
          "pineconeNamespace": "n8n-tsla"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "fbb9bf6f-03b0-49a0-a008-8caca0b16e41",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "kFzlzK2eQxyyFKKX",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536,
          "batchSize": 128,
          "timeout": 300000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        192
      ],
      "id": "47cf8e30-8f80-42ce-8209-d63db2503b39",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "9EoXBynWrBvJWNJx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=  TSLAQ2-2023",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        496,
        192
      ],
      "id": "30112c2e-e4a3-4b2a-8a87-ec4325a9053e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 120,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        496,
        336
      ],
      "id": "7ae10db3-0749-4565-9d0a-4553ef872779",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d39e236c-ace1-4cfb-8e4a-697b1ccf1e05",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f68acdd5e00c8e0eaa03372dc243705f91ee6ee3b01899cca8263774eb69944a"
  },
  "id": "5vJhu7o8qRctkXEi",
  "tags": []
}