n8n-workflows/PineCore MeetingNotes - Word.json
{
  "name": "PineCore MeetingNotes - Word",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rWauf9DvSz_0nmE9fmpXEgNPy5EWVXft",
          "mode": "list",
          "cachedResultName": "BiWeekly-MeetingNotes",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rWauf9DvSz_0nmE9fmpXEgNPy5EWVXft"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c2b58a5a-75df-4af3-806b-763ab411b5c7",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EltEmNxMhJBYtYel",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "be724bf4-bd16-4ccd-b89c-e6a1f61c049c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EltEmNxMhJBYtYel",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "biweekly-meetings",
          "mode": "list",
          "cachedResultName": "biweekly-meetings"
        },
        "options": {
          "pineconeNamespace": "biweekly"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "50c88e24-c76e-4c68-8468-852a41692016",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "kFzlzK2eQxyyFKKX",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536,
          "batchSize": 128,
          "timeout": 300000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        192
      ],
      "id": "91e97260-c3db-4027-8cdc-b1b784cfb22c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "9EoXBynWrBvJWNJx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=BiWeekly",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        496,
        192
      ],
      "id": "94a17917-591a-4f64-b804-0868adabc051",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 120,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        496,
        336
      ],
      "id": "318221b0-2a9d-47ed-800b-3a2a684d2899",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "909b286a-acea-486a-895f-6b6a52087bc3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f68acdd5e00c8e0eaa03372dc243705f91ee6ee3b01899cca8263774eb69944a"
  },
  "id": "qxynQL9o0QkyayBS",
  "tags": []
}