n8n-workflows/PineCore TLSA Workflow v2 - md.json
{
  "name": "PineCore TLSA Workflow v2 - md",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1muK5oJPuF_VWQ8npJl9lMwNMxrWPom6F",
          "mode": "list",
          "cachedResultName": "TelsaFinancialReports",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1muK5oJPuF_VWQ8npJl9lMwNMxrWPom6F"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f81a61b8-c6e4-4f19-8519-cec89233a9cc",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EltEmNxMhJBYtYel",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "95e813c3-8368-4506-af45-9e688a2bcd47",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EltEmNxMhJBYtYel",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-course-tsla",
          "mode": "list",
          "cachedResultName": "n8n-course-tsla"
        },
        "options": {
          "pineconeNamespace": "n8n-tsla"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "e4ccde77-1220-499e-95a4-5f1d65af60b0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "kFzlzK2eQxyyFKKX",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536,
          "batchSize": 128,
          "timeout": 300000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        192
      ],
      "id": "d7d2101d-1553-497e-ba36-f31e2e803725",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "9EoXBynWrBvJWNJx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=  TSLAQ2-2023",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        496,
        192
      ],
      "id": "4f6e67bc-9f95-482d-9d68-8145f4f2a07b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 120,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        496,
        336
      ],
      "id": "39b13f8b-c937-45d6-87bd-c566b8458a18",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a55f9075-0edc-4188-a88f-c87f9bb645c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f68acdd5e00c8e0eaa03372dc243705f91ee6ee3b01899cca8263774eb69944a"
  },
  "id": "3a4WsvN3XKsQpiEC",
  "tags": []
}