AI_autoWith_n8n+LLM/n8n-workflows/01.1 Transcribe Audio to Text v2 (folder).json
{
  "name": "01.1 Transcribe Audio to Text v2 (folder)",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        -80
      ],
      "id": "78957b5d-6e42-4ada-ae98-c9c391a81ba8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yw0S1sz8cjf1RiDF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -240,
        -80
      ],
      "id": "c02ae111-2a9f-4dd0-bd63-dad962377f66",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "PvlVoIijr6w9bls7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -32,
        -80
      ],
      "id": "fb0080db-51df-441e-8e03-6417f63abab6",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1KdIWHexRg8JaO5bViL6pMjpToL7zgdD9",
          "mode": "list",
          "cachedResultName": "n8n_input_audio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KdIWHexRg8JaO5bViL6pMjpToL7zgdD9"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -80
      ],
      "id": "6e9d6ede-b523-496b-821d-40fd75c7ee4c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yw0S1sz8cjf1RiDF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $('Transcribe a recording').item.json.text }}",
        "name": "file.txt",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wsNIHKds58g3i8RGTldeC_JKfkS8iT4o",
          "mode": "list",
          "cachedResultName": "n8n_output",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wsNIHKds58g3i8RGTldeC_JKfkS8iT4o"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        -80
      ],
      "id": "27f38928-bf71-4cec-a962-f78ffb594716",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yw0S1sz8cjf1RiDF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Audio files in n8n_input_audio folder",
        "height": 240,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -160
      ],
      "typeVersion": 1,
      "id": "46f0250d-382b-4c64-b32f-c6c8bb15809d",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "fn2Ku1VjKPcapMtW"
  },
  "versionId": "f1d5888c-2e3c-45d0-914e-d679132abef9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eaad05f20ef6e41a4a980718af320768c442cf10b8bb1a0972c22e1dc90b48d2"
  },
  "id": "fn2Ku1VjKPcapMtW",
  "tags": []
}