AI_autoWith_n8n+LLM/n8n-workflows/02.2 Upserting and Querying Qdrant v2.json
{
  "name": "02.2 Upserting and Querying Qdrant v2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -16
      ],
      "id": "7ea53b91-e65b-49a5-bc0b-e3ee8b3467e6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1uOD4fID1FbQ2ioefF3K_WXxg5qmTQpY3",
          "mode": "list",
          "cachedResultName": "HRPoliciesHandbook_v2.txt",
          "cachedResultUrl": "https://drive.google.com/file/d/1uOD4fID1FbQ2ioefF3K_WXxg5qmTQpY3/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -192,
        -16
      ],
      "id": "19289990-c71b-4403-9dd9-5e945ba42e8b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yw0S1sz8cjf1RiDF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "HRPoliciesHandbook_v2.txt",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        16,
        -16
      ],
      "id": "94608ff4-1ab7-445b-b240-54aa3f7debd7",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "xp0jjZCLOdOEVv76",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        176
      ],
      "id": "d6c8bdaa-9cdd-4624-9c4f-0579f691f512",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PvlVoIijr6w9bls7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        160,
        176
      ],
      "id": "3086ccfc-bd61-4085-a4c5-8ace9e269ca6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        512,
        -32
      ],
      "id": "af6d029b-fcc2-49fe-9956-f02dba332545",
      "name": "When chat message received",
      "webhookId": "1d147790-8f01-4191-a694-0495a6486b58"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        64,
        432
      ],
      "id": "6564fc01-28f3-4a11-b931-528dc6c14dd8",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        592
      ],
      "id": "e12c4cf7-28e9-4be0-81fb-ba2f19149ff8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PvlVoIijr6w9bls7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "topK": 6
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        192,
        592
      ],
      "id": "70498ff5-6e76-4f4a-b74a-58ac81c64dde",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "HRPoliciesHandbook_v2.txt",
          "mode": "list",
          "cachedResultName": "HRPoliciesHandbook_v2.txt"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -16,
        736
      ],
      "id": "a3bccae1-ba00-4079-bcd5-7a3a58a47c3e",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "xp0jjZCLOdOEVv76",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        896
      ],
      "id": "1b94bfb4-6327-41d0-a24a-ba89069c1022",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "PvlVoIijr6w9bls7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        176
      ],
      "id": "0b6c1979-1e91-42f5-bbec-26f2a1c7ae3d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        736,
        -32
      ],
      "id": "be0e8f6f-3737-49a0-bb51-c1923e026d31",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        176
      ],
      "id": "c2d0c1c2-e8fd-4e44-83f8-ffa56443180f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "PvlVoIijr6w9bls7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $json.action }}",
        "qdrantCollection": {
          "__rl": true,
          "value": "HRPoliciesHandbook_v2.txt",
          "mode": "list",
          "cachedResultName": "HRPoliciesHandbook_v2.txt"
        },
        "topK": 6,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        880,
        176
      ],
      "id": "7aae9cbb-3996-4728-9cfe-e22090405ccc",
      "name": "Qdrant Vector Store2",
      "credentials": {
        "qdrantApi": {
          "id": "xp0jjZCLOdOEVv76",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        336
      ],
      "id": "31b7c80d-4d08-47ba-86f4-5887e6b371fc",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "PvlVoIijr6w9bls7",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "caaa00ba-4635-418e-8a9b-791b34831327",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eaad05f20ef6e41a4a980718af320768c442cf10b8bb1a0972c22e1dc90b48d2"
  },
  "id": "M32CSLOF7xinzgEt",
  "tags": []
}