AI_autoWith_n8n+LLM/n8n-workflows/03 Qdrant w Slack.json
{
  "name": "03 Qdrant w Slack",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1uOD4fID1FbQ2ioefF3K_WXxg5qmTQpY3",
          "mode": "list",
          "cachedResultName": "HRPoliciesHandbook_v2.txt",
          "cachedResultUrl": "https://drive.google.com/file/d/1uOD4fID1FbQ2ioefF3K_WXxg5qmTQpY3/view?usp=drivesdk"
        },
        "options": {}
      },
      "id": "2d1cda41-9e43-4ca9-aa07-f7a9561317df",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        560,
        80
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yw0S1sz8cjf1RiDF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1c3bfed7-2cb6-4d04-8110-c37aff094b27",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        752,
        304
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "PvlVoIijr6w9bls7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cb46838e-4e79-4126-a046-66dc35de06b8",
      "name": "Chat OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1776,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "PvlVoIijr6w9bls7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cbf3359a-bbb0-4c4c-83d4-2f6c7f45402f",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1888,
        688
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "PvlVoIijr6w9bls7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "0b5ff385-8351-44c0-ac8d-bbc97ecfb912",
      "name": "On new manual Chat Message",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "position": [
        1488,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Fetch file from Google Drive, split it into chunks and insert into vector index",
        "height": 226,
        "width": 770
      },
      "id": "8b54776b-85f3-4995-b72e-06b9507c3de2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Embed message → retrieve chunks → answer\n(works for Manual Chat and Slack/Webhook)",
        "height": 225,
        "width": 702
      },
      "id": "656cee8b-b3a1-4c38-95c5-15c3abfc5a35",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "fd6affab-ce27-489f-a938-d7f19f9a302b",
      "name": "Retrieval QA Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        1888,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "topK": 10
      },
      "id": "5cce4204-df7c-4dd2-9c87-40b73244f4a0",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "position": [
        1952,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d707d430-f73a-4378-a6da-b7427c704cf9",
        "options": {}
      },
      "id": "93ae697b-528c-42b1-a573-38e8b1f5ca7f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1488,
        304
      ],
      "webhookId": "d707d430-f73a-4378-a6da-b7427c704cf9"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "HRPoliciesHandbook_v2.txt",
          "mode": "list",
          "cachedResultName": "HRPoliciesHandbook_v2.txt"
        },
        "options": {}
      },
      "id": "e452cc43-3cae-4190-af89-cd087af0956a",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        880,
        80
      ],
      "credentials": {
        "qdrantApi": {
          "id": "xp0jjZCLOdOEVv76",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "HRPoliciesHandbook_v2.txt",
          "mode": "list",
          "cachedResultName": "HRPoliciesHandbook_v2.txt"
        },
        "options": {}
      },
      "id": "f422b1f5-fde3-4284-aecc-9a6bc558b2f8",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1888,
        496
      ],
      "credentials": {
        "qdrantApi": {
          "id": "xp0jjZCLOdOEVv76",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        960,
        304
      ],
      "id": "eb5d06a5-77ed-4c69-91ea-9742b16882ef",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "jsCode": "const query = $json.input || $json.body?.text || '';\nconst response_url = $json.body?.response_url || '';\nreturn [{ json: { query, response_url } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        80
      ],
      "id": "741bb9a2-7482-4711-a04b-eae72e76f9ce",
      "name": "Prepare Query"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $if($(\"Webhook\").isExecuted, $(\"Webhook\").item.json.webhookUrl, \"\") }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "224ea346-a4d9-4b39-98aa-c8fdcb82bff8",
      "name": "IF Has response_url",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2240,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Webhook\").item.json.webhookUrl }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.response.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "16fb1568-9994-4c54-93af-4413057d3b96",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2512,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass the answer to the chat UI\nreturn [{ json: { text: $json.response?.text || $json.answer || '' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        192
      ],
      "id": "e49cbbe8-0be8-49d7-913a-3498ccd20b04",
      "name": "Return to Chat"
    }
  ],
  "pinData": {},
  "connections": {
    "On new manual Chat Message": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query": {
      "main": [
        [
          {
            "node": "Retrieval QA Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieval QA Chain": {
      "main": [
        [
          {
            "node": "IF Has response_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has response_url": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieval QA Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Retrieval QA Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Return to Chat": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a365dd3-fbe2-4cc9-a5bb-9bd0a96fc8e7",
  "meta": {
    "instanceId": "eaad05f20ef6e41a4a980718af320768c442cf10b8bb1a0972c22e1dc90b48d2"
  },
  "id": "mxKFitB64clCrihC",
  "tags": []
}